* {
    font-family: "MiSans Arabic";
    font-weight: bold;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 97%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    /* background-color: rgba(26, 27, 38, 0.5); */
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    /* border-top: 8px transparent; */
    border-radius: 0px;
    transition-duration: 0.5s;
}

window#waybar.empty window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.1;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 12px;
}

tooltip label {
    color: #cdd6f4;
}

#taskbar button,
#workspaces button {
    background-color: transparent;
    color: grey;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #d3d3d3;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-prayer,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    color: #e5e5e5;
    /* color: #bf616a; */
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.546);
    margin: 0 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
}

#workspaces {
    border-radius: 12px;
    padding: 0px 6px;
}

#cpu {
    color: #fff;
    padding: 3px;
    background-color: rgba(50, 50, 50, 0.1);
}

#custom-cycle_wall,
#custom-updater {
    color: #fff;
    padding: 3px;
    background-color: rgba(50, 50, 50, 0.1);
}

#custom-menu {
    color: #ffffff;
    padding: 6px;
    padding-right: 6px;
    background-color: rgba(50, 50, 50, 0.1);
}

#custom-keyboard,
#memory {
    color: #fff;
}

#custom-power {
    color: #fff;
    padding: 0px 0px 0px 6px;
}

#custom-launcher {
    background-color: #1b242b;
    color: #6a92d7;
    padding: 0 0px;
}

#custom-weather.severe {
    color: #fff;
}

#custom-weather.sunny {
    color: #fff;
}

#custom-weather.clearNight {
    color: #fff;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: #fff;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: #fff;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: #fff;
}

#custom-swaync,
#custom-weather {
    color: #fff;
}

#pulseaudio {
    color: #fff;
}

#wireplumber {
    color: #fff;
}
#backlight {
    color: #fff;
    padding-right: 2px;
}

#clock {
    color: #fff;
    /* background-color: #14141e; */
}

#battery {
    color: #fff;
    /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #fff;
    /* background-color: #26a65b; */
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
    color: #fff;
}

#bluetooth {
    color: #fff;
}

#bluetooth.disconnected {
    color: #fff;
}

#network {
    color: #fff;
}

#network.disconnected {
    color: #fff;
}

#custom-media {
    background-color: #66cc99;
    color: #fff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #fff;
}

#custom-media.custom-vlc {
    background-color: #fff;
}

#temperature.critical {
    background-color: #fff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
    color: #39ff14;
}

#temperature {
    color: #add8e6;
}

#taskbar button.active {
    background-color: #7f849c;
    padding-left: 12px;
    padding-right: 12px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#backlight-slider slider,
#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    min-width: 80px;
    min-height: 5px;
    border-radius: 5px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    min-height: 10px;
    border-radius: 5px;
}
